.orange {
    color: orange;
}

h1 {
    margin: 35pt;
    display: inline;
}

h2 {
    margin: 35pt;
    display: inline;
}

h3 {
    margin: 35pt;
    display: inline;
}

h4 {
    margin: 35pt;
    display: inline;
}

h5 {
    margin: 80pt;
    display: inline;
}

h6 {
    margin: 20pt;
    display: inline;
}
