.objeto {
    position: absolute;
    transition: all 3s ease-in-out;
    -webkit-transition: all 3s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 3s ease-in-out; /** Firefox **/
    -o-transition: all 3s ease-in-out; /** Opera **/
}

#moverse:hover .moverseD{
    transform: translate(200%,0);
    -webkit-transform: translate(200%,0); /** Chrome & Safari **/
    -o-transform: translate(200%,0); /** Opera **/
    -moz-transform: translate(200%,0); /** Firefox **/
}

.jose {
    left: 10%
}

.juan {
    left: 70%;
}

#moverse:hover .moverseI{
    transform: translate(-200%,0);
    -webkit-transform: translate(-200%,0); /** Safari & Chrome **/
    -o-transform: translate(-200%,0); /** Opera **/
    -moz-transform: translate(-200%,0); /** Firefox **/
}